{% extends "layout.html" %}



{% block select %}
<select id="page-selector" class="form-control" aria-label="Page selector"   onchange="navigate()">
    <option value="/">Home</option>
    <option value="/generate" selected>Generation</option>
    <option value="/myPage">My Page</option>
    {% if session['user_id'] %}
      <option value="/logout">Logout</option>
    {% endif %}
</select>
{% endblock %}


{% block content %}
<div class="home"> </div>
<div class="container">
    <section class="main-section">
        <div class="card shadow-lg p-4" style="border-radius: 15px;">
            <h2 class="text-center title-text">심볼 로고 생성기</h2>
            <div class="mb-3">
                <p class="d-inline-flex">
                    <button class="btn border border-secondary-subtle" id="manual" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      예시를 보고싶다면?
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body" style="text-align: center;">
                        <img style="width: 40%; margin: 0 auto; display: block;" src="static/img/manual_logo.png" alt="심볼 로고">
                        프롬프트 : 심볼로고, 말, 사람
                    </div>
                </div>
                
                  
                <label for="logoDescription" class="form-label"></label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="logoDescription" 
                    placeholder="로고 설명 입력"/>


            </div>
            <button class="btn custom-button" type="button" onclick="sendLogoDescription()">
                생성 시작
                <div class="spinner-border text-success" id="loading" role="status" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </div>
    </section>
</div>
{% endblock %}

{% block script %} 
<script src="static/js/gen.js"></script>
{% endblock %}