{% extends "layout.html "%}

{ % block select %}
<select id="page-selector" class="form-control" aria-label="Page selector"   onchange="navigate()">
    <option value="/">Home</option>
    <option value="/generate">Generation</option>
    <option value="/myPage">My Page</option>
    {% if session['user_id'] %}
      <option value="/logout">Logout</option>
    {% endif %}
</select>
{% endblock %}

{% block content %}
<div class="Wrapper">
    <div id="kakao" class="kakao_button">
        <a href="/authorize">
        <img src="/static/img/kakao_login_medium_wide.png" alt="kakao oauth" />
        </a>
    </div>

</div>
{% endblock %}