{% extends "layout.html" %}


{% block select %}
<select id="page-selector" class="form-control" aria-label="Page selector"   onchange="navigate()">
    <option value="/" selected>Home</option>
    <option value="/generate" >Generation</option>
    <option value="/myPage">My Page</option>
    {% if session['user_id'] %}
      <option value="/logout">Logout</option>
    {% endif %}
</select>
{% endblock %}


{% block content %}
<div class="home"> </div>
<section class="main-section ">
    <h2>환영합니다! <br>나만의 감각적인 심볼 로고를 만들 준비 되셨나요?</h2>
    <p>원하시는 아이디어나 느낌만 알려주시면, AI가 찰떡같이 만들어 드릴게요!</p>
    <div class="button-container">
        {% if session['user_id'] %}
        <button class="btn btn-lg custom-button" onclick="location.href='/generate'">로고 생성하기</button>
        {% else %}
            <div id="kakao" class="kakao_button">
            
                <a href="/authorize">
                <img src="/static/img/kakao_login_medium_wide.png" alt="kakao oauth" />
                </a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}