{% extends "layout.html "%}


{% block select %}
<select id="page-selector" class="form-control" aria-label="Page selector"   onchange="navigate()">
    <option value="/" selected>Home</option>
    <option value="/generate" >Generation</option>
    <option value="/myPage">My Page</option>
    {% if session['user_id'] %}
      <option value="/logout">Logout</option>
    {% endif %}
</select>
{% endblock %}


{% block content %}
<section class="main-section">
    <h2>Welcome to the Symbol Logo Generator</h2>
    <p>Generate your custom symbol logos with our AI-powered tool.</p>
    <div class="button-container">
        {% if session['user_id'] %}
        <button class="btn btn-lg custom-button" onclick="location.href='/generate'">Logo Generate</button>
        {% else %}
            <div id="kakao" class="kakao_button">
            
                <a href="/authorize">
                <img src="/static/img/kakao_login_medium_wide.png" alt="kakao oauth" />
                </a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}