{% extends "layout.html" %}


{% block select %}
<select id="page-selector" class="form-control" aria-label="Page selector"   onchange="navigate()">
    <option value="/" >Home</option>
    <option value="/generate" >Generation</option>
    <option value="/myPage" selected>My Page</option>
    {% if session['user_id'] %}
      <option value="/logout">Logout</option>
    {% endif %}
</select>
{% endblock %}


{% block content %}
<div style="margin-top: 5%;"></div>
<div class="container logoList">
    <h3>생성된 로고</h3><br>
    <section class="main-section">
        {% for data in userData %}
        <div class="card shadow-md p-4" style="border-radius: 15px;">

            
            <img src=  {{data.logo_src}} />
            
            {% if data.prompt %}
                <a>입력 프롬프트</a>
                <a>{{ data.prompt }}</a>
            {% endif %}
            
            
            
        </div>

        {% endfor %}
    </section>

</div>
{% endblock %}
