{% extends "layout.html" %}


{% block select %}
<select id="page-selector" class="form-control" aria-label="Page selector"   onchange="navigate()">
    <option value="/" >Home</option>
    <option value="/generate" >Generation</option>
    <option value="/myPage" selected>My Page</option>
    {% if session['user_id'] %}
      <option value="/logout">Logout</option>
    {% endif %}
</select>
{% endblock %}


{% block content %}
<div class="container logoList">
    <h3>생성된 로고</h3><br>
    <section class="main-section">

        {% if userData == [] %}
            <a> 없음 </a>
        {% endif %}

        {% for logoData in userData %}


            <a>{{ logoData.createDate }}</a>

            {% for logo in logoData.data %}
            <div class="card shadow-md p-4" style="border-radius: 15px;">

                {% if logo.prompt %}
                    <img src=  {{logo.logo_src}} />
                    <a>입력 프롬프트</a>
                    <a>{{ logo.prompt }}</a>
                {% endif %}
            </div>
            {% endfor %}

        {% endfor %}
    </section>

</div>
{% endblock %}
